<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1"
>
<head>
    <meta charset="UTF-8">
    <title>Nouveau cour</title>
    <link rel="stylesheet"href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content1">
    <div class="col-md-6 offset-3">
        <form method="post" th:action="@{save}">

            <div>
                <label for="nomCour">Nom du Cour</label>
                <input id=nomCour class="form-control" type="text" name="nomCour" th:value="${cour.getNomCour()}">
                <!--            <span class="text-danger" th:errors="${cour.getNomCour()}"></span>-->
            </div>

            <div>
                <label for="prof">Nom du professeur</label>
                <input id=prof class="form-control" type="text" name="nomProf" th:value="${cour.getNomProf()}">

            </div>
            <div>
                <label for="niveau">Niveau</label>
                <input id=niveau class="form-control" type="text" name="niveau" th:value="${cour.getNiveau()}">

            </div>
            <div>
                <label for="semestre">Semestre </label>
                <input id=semestre class="form-control" type="text" name="semestre" th:value="${cour.getSemestre()}">

            </div>

            <div>
                <label for="filiere">Filiere</label>
                <input id=filiere class="form-control" type="text" name="filiere" th:value="${cour.getFiliere()}">

            </div>
            <button type="submit" class="btn btn-primary">Enregistrer</button>

        </form>
    </div>
</div>

</body>
</html>