
<!DOCTYPE html>
<html lang="en">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
            
            </ul>
          </div>
        </div>
      </nav>
    <!--Main Content-->
 
    <div class="mt-5">
        <h1 class="text-center">Liste des etudiants</h1>
        </div>
        <div class="container">
          <form class="form-inline my-10 my-lg-8">
            <input  class="form-control mr-sm-2" type="text"  [(ngModel)]="searchTerm" (ngModelChange)="filterData()" placeholder="Rechercher...">
          </form>
          
        <br>  
            <!--Add User Button-->
           
            <table class="table border" >
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Date de naissance</th>
                        <th>CNE</th>
                        <th>CIN</th>
                        <th>Code Appogée</th>
                        <th>Niveau</th>
                        <th>Filiere</th>
                        <th>Action</th>

                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let etudiant of ListEtudiants">
                        <td>{{ etudiant.nom }}</td>
                        <td>{{ etudiant.prenom }}</td>
                        <td>{{ etudiant.dateNaissance}}</td>
                        <td>{{ etudiant.cne }}</td>
                        <td>{{ etudiant.cin }}</td>
                        <td>{{ etudiant.numapp }}</td>
                        <td>{{ etudiant.niveau }}</td>
                        <td>{{ etudiant.filiere }}</td>
                       
                    
                   
                            <td>
                            <div class="d-inline mx-1">
                                <i class="fa-solid fa-pen-to-square"  style="color: rgb(64, 0, 255)" type="button" (click)="updatetudiant(etudiant.id)"></i>
                            </div>
                            <div class="d-inline">
                              <i class="fa-solid fa-trash"  style="color: red" type="button" (click)="deletetudiant(etudiant.id)"></i>
                            </div>
                            <div class="d-inline   mx-1">
                              <i class="fa-solid fa-download"  style="color: rgb(0, 255, 21) "type="button" (click)="exporterEnPDF(etudiant)"></i>
                            </div>  </td>
                      
                          
                      </tr>  
                     
                      
                </tbody>
              </table>

        </div>
    
    
</body>
</html>

