<!doctype html>
<html   lang="en"xmlns:th="https://wwww.thymeleaf.com">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/CSS/style2.css">
    <title>service note</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="http://localhost:8090/index"><i class="fa-solid fa-house" ms-4></i>HomePage</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="ALLNOTE">toutes les notes </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="gerer_les notes">gerer les notes  </a>
          <!--<a class="nav-link" href="#">gerer les notes </a>-->
        </li>
         <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="http://localhost:8090/">Logout </a>
        </li>
        
      </ul>
 
    </div>
  </div>
</nav>

<p th:if="${selectedSemester != null}"><H1> Résulatats de <td th:text="${selectedSemester}"></td></H1></p>  
<div th:if="${notes != null}">

<table class="table" table-striped table-hover>
        <thead>
            <tr>
        <th scope="col">id</th>
      <th scope="col">apogee_etudiant</th>
      <th scope="col">nom_etudiant</th>
      <th scope="col">nom_module</th>
      <th scope="col">note</th>
      <th scope="col">observation</th>
      <th scope="col">semestre</th>
       <th scope="col">action</th>
            </tr>
        </thead>      
  <tbody>
    <tr th:each="n :${notes}">
      <td th:text="${n.id}"></td>
      <td th:text="${n.apogeeEtudiant}" class="form-apogeeEtudiant"></td>
      <td th:text="${n.nomEtudiant}" class="form-nomEtudiant"></td>
      <td th:text="${n.nomModule}" class="form-nomModule"></td>
      <td th:text="${n.note}" class="form-note" ></td>
      <td th:text="${n.observation}" class="form-observation"></td>
      <td th:text="${n.semestre}" class="form-semestre"></td>
      <td > <a style="color: black;" th:href="@{/notes/supprimer/{id}(id=${n.id})}"><i class="fa-solid fa-trash fa-flip-horizontal" ms-4></i></a>
       <a style="color: black;" th:href="@{/notes/modifier/{id}(id=${n.id})}" ><i class="fa-solid fa-pen-to-square" ms-4></i></a>
 </td> 
    </tr> 
    </table> 
      </div>
     
     
     
</body>
</html>
